<div class="container">
  <div class="content"> 
        <div class="row">
          <div class="m-title hot">
            <p><span id="heart"></span><span id="kind_name">&nbsp{{cate.name}}</span></p>
            <hr class="classline">
          </div>
        </div>
          

        <div class="row">

          <div class="m-list clearfix">
              <div class="list col-lg-2 col-md-3 col-sm-4 col-xs-6" ng-repeat="item in cate.list" ng-click="toBrief(item.program_id)">
                  <!-- <div class="m-column">
                      <div style="height:250px;overflow:hidden">
                        <img class="list-img" src="{{FILE_URL}}{{item.cover}}">
                      </div>
                      
                      <img src="img/img-play.png" class="playbtn"></img>
                      <p class="TV-t">&nbsp;&nbsp;&nbsp;{{item.tvname}}<span class="small" ng-show="item.num>1">{{item.num}}集全</span></p>
                  </div> -->
                  <div class="m-column" >
                        <div style="height:250px;overflow:hidden">
                        <img class="list-img" src="{{FILE_URL}}{{item.cover}}">
                        </div>
                       

                        <p class="TV-t">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{item.name}}<span class="small" ng-show="item.number>1">{{item.number}}集全</span></p>
                    </div>
              </div>
          </div><!-- end tvlist -->

        </div> <!-- end row -->
  </div><!-- end content -->
</div>

