<div class="fadeIn container">

    <div class="row" id="full" style="width:100%">
        <div class="row">
            <div class="col-xs-12">
                    <video id="example_video_1" class="video-js vjs-default-skin vjs-big-play-centered" style="width:100%" controls >
                    <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href  ="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
                    </video>
            </div>
        </div>

        <div class="row" id="slider-row" style="position:relative;top:-110px;">
            <div class="slidimg-container" style="width:100%">
                <div href="#" class="slider-btn next" data-direction="next" style="">
                    <img class="btnleft" src="img/prenxt.png" id="left" ng-click="next()">
                </div>
        
                <div class="slider">
                    <ul class="imgList" id="showImg">
                    </ul>
                </div>

                <div href="#" class="slider-btn prev" data-direction="prev" style="">
                    <img class="btnright" src="img/prenxt.png" id="right" ng-click="prev()">
                </div>
            </div>
        </div>

        <!-- <div class="col-xs-1">
            <div class="slidimg-container" >
                <div href="#" class="slider-btn next" data-direction="next" style="">
                    <img class="btnleft" src="img/prenxt.png" id="left" ng-click="next()">
                </div>
        
                <div class="slider">
                    <ul class="imgList" id="showImg">
                    </ul>
                </div>
                <div href="#" class="slider-btn prev" data-direction="prev" style="">
                    <img class="btnright" src="img/prenxt.png" id="right" ng-click="prev()">
                </div>
            </div>
            
        </div> -->
    </div>
    

</div>
<div id="shade" style="position: absolute;; width: 100px;height: 100px;"></div>